<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>

		<!-- Логотип -->
		<div th:fragment="logo" class="top">
			<div class="logo">
				<img src="/images/logo.png">
				<h2>Lightweight<span class="logo-color">LMS</span></h2>
			</div>
		</div>

		<!-- Отображение данных пользователя -->
		<div th:fragment="profile" class="right">
			<div class="top">
				<div class="profile">
					<!-- ФИО и роль пользователя -->
					<div class="info">
						<p><b th:text="${authorizedUser.getFullName()}"></b></p>
						<small class="text-muted" th:text="${authorizedUser.getRole().getName()}"></small>
					</div>
					<!-- Фотография пользователя на основе роли -->
					<div class="profile-photo">
						<img th:src="@{'/images/' + ${authorizedUser.getRole().getName()} + '.png'}">
					</div>
					<!-- Кнопка выхода из аккаунта -->
					<form th:action="@{/logout}" class="profile-logout" method="post">
						<i class="fa-solid fa-right-from-bracket"></i>
						<input type="submit" value="Выйти из аккаунта"/>
					</form>
				</div>
			</div>
		</div>



	</body>
</html>