<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>

		<!-- Форма для создания методических указаний внутри темы или задания -->
		<div th:fragment="create-common" th:id="'manual-create-dialog-' + ${theme.getId()}" class="popup-dialog">
			<div class="dialog-item">
				<p>Отображаемое название</p>
				<input th:id="'manual-create-name-' + ${theme.getId()}" type="text">
			</div>
			<div class="dialog-item">
				<p>Выберите необходимый файл</p>
				<input th:id="'manual-create-file-' + ${theme.getId()}" type="file">
				<p class="info">
					Файлы разделяются системой на 2 группы: PDF-документы и все остальные. Первые будут открываться прямо на сайте во всплывающем окне, когда как другие будут доступны исключительно для скачивания.
				</p>
				<p class="info">
					Хранение файлов реализовано в двух репозиториях, соответствующие конкретной группе файлов, в каждой дисциплине отдельно. Таким образом, при закачке нового файла с таким же названием как у уже существующего, произойдет замена.
				</p>
			</div>
		</div>

		<!-- Форма для создания методических указаний внутри экзамена -->
		<div th:fragment="create-exam" id="exam-manual-create-dialog" class="popup-dialog">
			<div class="dialog-item">
				<p>Отображаемое название</p>
				<input id="exam-manual-create-name" type="text">
			</div>
			<div class="dialog-item">
				<p>Выберите необходимый файл</p>
				<input id="exam-manual-create-file" type="file">
				<p class="info">
					Файлы разделяются системой на 2 группы: PDF-документы и все остальные. Первые будут открываться прямо на сайте во всплывающем окне, когда как другие будут доступны исключительно для скачивания.
				</p>
				<p class="info">
					Хранение файлов реализовано в двух репозиториях, соответствующие конкретной группе файлов, в каждой дисциплине отдельно. Таким образом, при закачке нового файла с таким же названием как у уже существующего, произойдет замена.
				</p>
			</div>
		</div>



		<!-- Форма для изменения данных методических указаний -->
		<div th:fragment="update" th:id="'manual-update-dialog-' + ${manual.getId()}" class="popup-dialog">
			<div class="dialog-item">
				<p>Отображаемое название</p>
				<input th:value="${manual.getDisplayName()}" th:id="'manual-update-name-' + ${manual.getId()}" type="text">
			</div>
			<div class="dialog-item">
				<p>Выберите необходимый файл</p>
				<p class="info">
					Если файл не нуждается в изменении, оставьте поле пустым.
				</p>
				<input th:id="'manual-update-file-' + ${manual.getId()}" type="file">
				<p class="info">
					Файлы разделяются системой на 2 группы: PDF-документы и все остальные. Первые будут открываться прямо на сайте во всплывающем окне, когда как другие будут доступны исключительно для скачивания.
				</p>
				<p class="info">
					Хранение файлов реализовано в двух репозиториях, соответствующие конкретной группе файлов, в каждой дисциплине отдельно. Таким образом, при закачке нового файла с таким же названием как у уже существующего, произойдет замена.
				</p>
			</div>
		</div>

	</body>
</html>