<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>

		<!-- Блок практических работ в теме -->
		<div th:fragment="theme" th:if="${not theme.getPractices().isEmpty()}" class="resource-type">
			<div class="resource-type-title">
				<h3>Практические работы</h3>
			</div>	
			<div th:if="${not theme.getPractices().isEmpty()}" th:each="practice : ${theme.getPractices()}" class="resource-item">
				<a th:href="@{'/subjects/' + ${subject.getId()} + '/practice/' + ${practice.getId()}}">
					<i class="fa-solid fa-file-export"></i>
					<h4 th:text="${practice.getDisplayName()}"></h4>
				</a>
			</div>
		</div>

		<!-- Блок практических работ в экзамене -->
		<div th:fragment="exam" th:if="${not exam.getPractices().isEmpty()}" class="resource-type">
			<div class="resource-type-title">
				<h3>Практические работы</h3>
			</div>	
			<div th:if="${not exam.getPractices().isEmpty()}" th:each="practice : ${exam.getPractices()}" class="resource-item">
				<a th:href="@{'/subjects/' + ${subject.getId()} + '/practice/' + ${practice.getId()}}">
					<i class="fa-solid fa-file-export"></i>
					<h4 th:text="${practice.getDisplayName()}"></h4>
				</a>
			</div>
		</div>



		<!-- Блок редактора практических работ в теме -->
		<div th:fragment="theme-editor" class="resource-type">
			<div class="resource-type-title">
				<h3>Практические работы</h3>
				<button th:onclick="'openPracticeCreateDialog(' + ${theme.getId()} + ')'" type="button">Добавить работу</button>
				<div th:replace="~{fragments/practice-dialogs :: create-common}"></div>
			</div>
			<div class="resource-items">
				<div th:if="${not theme.getPractices().isEmpty()}" th:each="practice : ${theme.getPractices()}" class="resource-item editor" th:id="'practice-' + ${practice.getId()}">
					<div class="resource-info">
						<div class="movable-item">
							<i class="fa-solid fa-up-down-left-right"></i>
						</div>
						<button type="button">
							<i class="fa-solid fa-file-export"></i>
							<h4 th:text="${practice.getDisplayName()}"></h4>
						</button>
					</div>
					<div class="resource-interactions">
						<button th:onclick="'openPracticeUpdateDialog(' + ${practice.getId()} + ')'" type="button">
							<i class="fa-solid fa-pen"></i>
							<div th:replace="~{fragments/practice-dialogs :: update}"></div>
						</button>
						<button th:onclick="'deleteElement(' + ${practice.getId()} + ', \'practice\')'" type="button">
							<i class="fa-solid fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Блок редактора практических работ в экзамене -->
		<div th:fragment="exam-editor" class="resource-type">
			<div class="resource-type-title">
				<h3>Практические работы</h3>
				<button th:onclick="'openExamPracticeCreateDialog(' + ${exam.getId()} + ')'" type="button">Добавить работу</button>
				<div th:replace="~{fragments/practice-dialogs :: create-exam}"></div>
			</div>
			<div class="resource-items">
				<div th:if="${not exam.getPractices().isEmpty()}" th:each="practice : ${exam.getPractices()}" class="resource-item editor" th:id="'practice-' + ${practice.getId()}">
					<div class="resource-info">
						<div class="movable-item">
							<i class="fa-solid fa-up-down-left-right"></i>
						</div>
						<button type="button">
							<i class="fa-solid fa-file-export"></i>
							<h4 th:text="${practice.getDisplayName()}"></h4>
						</button>
					</div>
					<div class="resource-interactions">
						<button th:onclick="'openPracticeUpdateDialog(' + ${practice.getId()} + ')'" type="button">
							<i class="fa-solid fa-pen"></i>
							<div th:replace="~{fragments/practice-dialogs :: update}"></div>
						</button>
						<button th:onclick="'deleteElement(' + ${practice.getId()} + ', \'practice\')'" type="button">
							<i class="fa-solid fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>