<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>

		<!-- Форма для создания практических работ внутри темы или задания -->
		<div th:fragment="create-common" th:id="'practice-create-dialog-' + ${theme.getId()}" class="popup-dialog">
			<div class="dialog-item">
				<p>Отображаемое название</p>
				<input th:id="'practice-create-name-' + ${theme.getId()}" type="text">
			</div>
			<div class="dialog-item">
				<p>Тип практической работы</p>
				<select th:id="'practice-create-type-' + ${theme.getId()}">
					<option value="5">Задание</option>
					<option value="6">Тест</option>
				</select>
				<p class="info">
					Задание будет доступно на отдельной странице, где можно будет дополнительно прикрепить описание, методические указания и сторонние ссылки. Студент в отведенный промежуток времени должен будет сдать свой ответ в виде файла или текста.
				</p>
				<p class="info">
					При выборе теста вам станет доступен его редактор, также на отдельной странице. Можно создавать необходимое количество различных вопросов: с одиночным или множественным ответом, соотнесения или развернутый ответ. Студент должен будет начать выполнение теста в отведенное время, время прохождения будет ограничено параметром, который можно настроить далее.
				</p>
			</div>
			<div class="dialog-grid">
				<p>Время открытия</p>
				<p>Время закрытия</p>
				<p>Продолжительность выполнения</p>
				<input th:id="'practice-create-opening-' + ${theme.getId()}" class="datetimepicker" type="text" placeholder="__.__.____ __:__">
				<input th:id="'practice-create-closing-' + ${theme.getId()}" class="datetimepicker" type="text" placeholder="__.__.____ __:__">
				<input th:id="'practice-create-duration-' + ${theme.getId()}" class="timepicker" type="text" placeholder="__:__">
			</div>
		</div>

		<!-- Форма для создания практических работ внутри экзамена -->
		<div th:fragment="create-exam" id="exam-practice-create-dialog" class="popup-dialog">
			<div class="dialog-item">
				<p>Отображаемое название</p>
				<input id="exam-practice-create-name" type="text">
			</div>
			<div class="dialog-item">
				<p>Тип практической работы</p>
				<select id="exam-practice-create-type">
					<option value="5">Задание</option>
					<option value="6">Тест</option>
				</select>
				<p class="info">
					Задание будет доступно на отдельной странице, где можно будет дополнительно прикрепить описание, методические указания и сторонние ссылки. Студент в отведенный промежуток времени должен будет сдать свой ответ в виде файла или текста.
				</p>
				<p class="info">
					При выборе теста вам станет доступен его редактор, также на отдельной странице. Можно создавать необходимое количество различных вопросов: с одиночным или множественным ответом, соотнесения или развернутый ответ. Студент должен будет начать выполнение теста в отведенное время, время прохождения будет ограничено параметром, который можно настроить далее.
				</p>
			</div>
			<div class="dialog-grid">
				<p>Время открытия</p>
				<p>Время закрытия</p>
				<p>Продолжительность выполнения</p>

				<input id="exam-practice-create-opening" class="datetimepicker" type="text" placeholder="__.__.____ __:__">
				<input id="exam-practice-create-closing" class="datetimepicker" type="text" placeholder="__.__.____ __:__">
				<input id="exam-practice-create-duration" class="timepicker" type="text" placeholder="__:__">
			</div>
		</div>



		<!-- Форма для изменения данных практических работ -->
		<div th:fragment="update" th:id="'practice-update-dialog-' + ${theme.getId()}" class="popup-dialog">
			<div class="dialog-item">
				<p>Отображаемое название</p>
				<input th:id="'practice-update-name-' + ${theme.getId()}" th:value="${practice.getDisplayName()}" type="text">
			</div>
			<div class="dialog-item">
				<p>Тип практической работы</p>
				<select th:id="'practice-update-type-' + ${theme.getId()}">
					<option th:attrappend="selected=${external.isTask()}?selected" value="5">Задание</option>
					<option th:attrappend="selected=${external.isTest()}?selected" value="6">Тест</option>
				</select>
				<p class="info">
					Задание будет доступно на отдельной странице, где можно будет дополнительно прикрепить описание, методические указания и сторонние ссылки. Студент в отведенный промежуток времени должен будет сдать свой ответ в виде файла или текста.
				</p>
				<p class="info">
					При выборе теста вам станет доступен его редактор, также на отдельной странице. Можно создавать необходимое количество различных вопросов: с одиночным или множественным ответом, соотнесения или развернутый ответ. Студент должен будет начать выполнение теста в отведенное время, время прохождения будет ограничено параметром, который можно настроить далее.
				</p>
			</div>
			<div class="dialog-grid">
				<p>Время открытия</p>
				<p>Время закрытия</p>
				<p>Продолжительность выполнения</p>
				<input th:id="'practice-update-opening-' + ${theme.getId()}" th:value="${practice.getOpeningDate()}" class="datetimepicker" type="text" placeholder="__.__.____ __:__">
				<input th:id="'practice-update-closing-' + ${theme.getId()}" th:value="${practice.getClosingDate()}" class="datetimepicker" type="text" placeholder="__.__.____ __:__">
				<input th:id="'practice-update-duration-' + ${theme.getId()}" th:value="${practice.getDuration()}" class="timepicker" type="text" placeholder="__:__">
			</div>
		</div>

	</body>
</html>