<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>LightLMS - Чат-бот</title>
		<!-- Основные стили -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<!-- Стили для чат-бот страницы -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/openai.css}">
		<!-- Иконки FontAwesome -->
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/solid.css}">
		<!-- JQuery -->
		<script type="text/javascript" th:src="@{/libs/jquery-3.6.4.min.js}"></script>
		<!-- Скрипт общения с ботом -->
		<script type="text/javascript" th:src="@{/scripts/ChatBot.js}"></script>
		<!-- TippyJS для реализации всплывающих tooltip элементов -->
		<script src="https://unpkg.com/@popperjs/core@2"></script>
		<script src="https://unpkg.com/tippy.js@6"></script>
	</head>
	<body>
		<div class="main-container">
			<aside>
				<div th:replace="~{fragments/general :: logo}"></div>
				<!-- Боковое меню -->
				<div class="sidebar">
					<a href="/" class="active arrow">
						<i class="fa-solid fa-house"></i>
						<h3>Дисциплины</h3>
					</a>
					<a href="/performance" sec:authorize="hasRole('Студент')">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Успеваемость</h3>
					</a>
					<a href="/admin" sec:authorize="hasRole('Администратор')">
						<i class="fa-solid fa-toolbox"></i>
						<h3>Админ-панель</h3>
					</a>
				</div>
			</aside>
			<div class="content-container">
				<div class="title-profile-container">
					<!-- Заголовок страницы -->
					<div class="title">
						<h1>Чат-бот</h1>
					</div>
					<div th:replace="~{fragments/general :: profile}"></div>
				</div>
				<main>
					<div class="main-content">
						<div class="subject-path">
							<ol class="path-container">
								<li class="path-button">
									<a th:href="@{/subjects/1}">Мультимедиа Технологии</a>
								</li>
								<li class="path-button">
									<a th:href="@{/subjects/1#theme1}">Применение нейронных сетей в сфере мультимедиа</a>
								</li>
								<li class="path-button">
									<a th:href="@{/openai/chat-bot}">Чат-бот с использованием нейронной сети ChatGPT</a>
								</li>
							</ol>
						</div>
						<div class="chat-bot">
							<div class="chat-history" id="chat-history">

							</div>
							<input onkeyup="sendRequestToChatBot()" type="text" id="input-chat-message" placeholder="Введите запрос для изображения..." />
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>