<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>LightLMS - Главная</title>
		<!-- Основные стили -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<!-- Стили главной страницы -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/home.css}">
		<!-- Иконки FontAwesome -->
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/solid.css}">
	</head>
	<body>
		<div class="main-container">
			<aside>
				<!-- Логотип -->
				<div class="top">
					<div class="logo">
						<img src="./images/logo.png">
						<h2>Lightweight<span class="logo-color">LMS</span></h2>
					</div>
				</div>
				<!-- Боковое меню -->
				<div class="sidebar">
					<a href="/" class="active">
						<i class="fa-solid fa-house"></i>
						<h3>Дисциплины</h3>
					</a>
					<a href="/">
						<i class="fa-solid fa-house"></i>
						<h3>Успеваемость</h3>
					</a>
					<a href="/">
						<i class="fa-solid fa-house"></i>
						<h3>Чат</h3>
					</a>
					<a href="/journal" sec:authorize="hasRole('Преподаватель')">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Журнал</h3>
					</a>
					<a href="/admin" sec:authorize="hasRole('Администратор')">
						<i class="fa-solid fa-toolbox"></i>
						<h3>Админ-панель</h3>
					</a>
				</div>
			</aside>
			<div class="content-container">
				<div class="title-profile-container">
					<!-- Заголовок страницы -->
					<div class="title">
						<h1>Список доступных дисциплин</h1>
					</div>
					<div class="right">
						<div class="top">
							<div class="profile">
								<!-- ФИО и роль пользователя -->
								<div class="info">
									<p><b th:text="${authorizedUser.getFullName()}"></b></p>
									<small class="text-muted" th:text="${authorizedUser.getRole().getName()}"></small>
								</div>
								<!-- Фотография пользователя на основе роли -->
								<div class="profile-photo">
									<img th:if="${authorizedUser.getRole().getName() == 'Студент'}" src="./images/profile-user.png">
									<img th:if="${authorizedUser.getRole().getName() == 'Преподаватель'}" src="./images/profile-teacher.png">
									<img th:if="${authorizedUser.getRole().getName() == 'Администратор'}" src="./images/profile-admin.png">
								</div>
								<!-- Кнопка выхода из аккаунта -->
								<form th:action="@{/logout}" class="profile-logout" method="post">
									<i class="fa-solid fa-right-from-bracket"></i>
									<input type="submit" value="Выйти из аккаунта"/>
								</form>
							</div>
						</div>
					</div>
				</div>
				<main>
					<div class="main-content">
						<embed src="./subjects/Мультимедиа технологии/example1.pdf" type="application/pdf">
					</div>
				</main>
			</div>
		</div>
		<!-- Скрипт для переключения фильтров -->
		<script type="text/javascript" th:src="@{/scripts/SubjectFilter.js}"></script>
	</body>
</html>