<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>LightLMS - Главная</title>
		<!-- Основные стили -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<!-- Стили главной страницы -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/home.css}">
		<!-- Иконки FontAwesome -->
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/solid.css}">
	</head>
	<body>
		<div class="main-container">
			<aside>
				<!-- Логотип -->
				<div class="top">
					<div class="logo">
						<img src="./images/logo.png">
						<h2>Lightweight<span class="logo-color">LMS</span></h2>
					</div>
				</div>
				<!-- Боковое меню -->
				<div class="sidebar">
					<a href="/" class="active">
						<i class="fa-solid fa-house"></i>
						<h3>Дисциплины</h3>
					</a>
					<a href="/performance" sec:authorize="hasRole('Студент')">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Успеваемость</h3>
					</a>
					<a href="/chat">
						<i class="fa-solid fa-comments"></i>
						<h3>Чат</h3>
					</a>
					<a href="/journal" sec:authorize="hasRole('Преподаватель')">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Журнал</h3>
					</a>
					<a href="/admin" sec:authorize="hasRole('Администратор')">
						<i class="fa-solid fa-toolbox"></i>
						<h3>Админ-панель</h3>
					</a>
				</div>
			</aside>
			<div class="content-container">
				<div class="title-profile-container">
					<!-- Заголовок страницы -->
					<div class="title">
						<h1>Список доступных дисциплин</h1>
					</div>
					<div class="right">
						<div class="top">
							<div class="profile">
								<!-- ФИО и роль пользователя -->
								<div class="info">
									<p><b th:text="${authorizedUser.getFullName()}"></b></p>
									<small class="text-muted" th:text="${authorizedUser.getRole().getName()}"></small>
								</div>
								<!-- Фотография пользователя на основе роли -->
								<div class="profile-photo">
									<img th:src="@{'/images/' + ${authorizedUser.getRole().getName()} + '.png'}">
								</div>
								<!-- Кнопка выхода из аккаунта -->
								<form th:action="@{/logout}" class="profile-logout" method="post">
									<i class="fa-solid fa-right-from-bracket"></i>
									<input type="submit" value="Выйти из аккаунта"/>
								</form>
							</div>
						</div>
					</div>
				</div>
				<main>
					<div class="main-content">
						<!-- Фильтры для показа дисциплин -->
						<div class="filter-container">
							<button class="active" id="current-subjects" onclick="activeButton(event)">Текущие</button>
							<button id="passed-subjects" onclick="activeButton(event)">Пройденные</button>
						</div>
						<!-- Вывод списка доступных дисциплин -->
						<div class="subject-container" sec:authorize="hasRole('Студент')">
							<div class="subject-item" th:each="subject : ${subjects}">
								<h2 th:text="${subject.getSubject().getName()}"></h2>
								<div class="subject-info">
									<img th:src="@{'/subjects/' + ${subject.getSubject().getName()} + '/logo.jpg'}">
									<p th:text="${subject.getSubject().getDescription()}"></p>
								</div>
								<div class="subject-learn">
									<p th:text="${subject.getSubject().getEducationType().getName()} + ''"></p>
									<div class="subject-course">
										<p th:text="${subject.getSubject().getCourse()} + ' курс'"></p>
										<p th:text="${subject.getSubject().getSemester()} + ' семестр'"></p>
									</div>
									<p th:text="${subject.getSubject().getTeacher().getFullName()}"></p>
									<a th:href="@{'/subjects/' + ${subject.getSubject().getName()}}" class="subject-button">Перейти к изучению</a>
								</div>
							</div>
						</div>
						<div class="subject-container" sec:authorize="hasRole('Преподаватель')">
							<div class="subject-item" th:each="subject : ${subjects}">
								<h2 th:text="${subject.getName()}"></h2>
								<div class="subject-info">
									<img th:src="@{'/subjects/' + ${subject.getName()} + '/logo.jpg'}">
									<p th:text="${subject.getDescription()}"></p>
								</div>
								<div class="subject-learn">
									<p th:text="${subject.getEducationType().getName()} + ''"></p>
									<div class="subject-course">
										<p th:text="${subject.getCourse()} + ' курс'"></p>
										<p th:text="${subject.getSemester()} + ' семестр'"></p>
									</div>
									<p th:text="${subject.getTeacher().getFullName()}"></p>
									<a th:href="@{'/subjects/' + ${subject.getName()}}" class="subject-button">Перейти к изучению</a>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
		<!-- Скрипт для переключения фильтров -->
		<script type="text/javascript" th:src="@{/scripts/SubjectFilter.js}"></script>
	</body>
</html>