<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>LightLMS - Дисциплины</title>
		<!-- Основные стили -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<!-- Стили главной страницы -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/home.css}">
		<!-- Иконки FontAwesome -->
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/solid.css}">
	</head>
	<body>
		<div class="main-container">
			<aside>
				<div th:replace="~{fragments/general :: logo}"></div>
				<!-- Боковое меню -->
				<div class="sidebar">
					<a href="/" class="active">
						<i class="fa-solid fa-house"></i>
						<h3>Дисциплины</h3>
					</a>
					<a href="/performance" sec:authorize="hasRole('Студент')">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Общая успеваемость</h3>
					</a>
					<a href="/subjects/editor" sec:authorize="hasRole('Преподаватель')" class="down">
						<i class="fa-solid fa-pen-to-square"></i>
						<h3>Редактор</h3>
					</a>
					<a href="/admin" sec:authorize="hasRole('Администратор')" class="down">
						<i class="fa-solid fa-toolbox"></i>
						<h3>Админ-панель</h3>
					</a>
				</div>
			</aside>
			<div class="content-container">
				<div class="title-profile-container">
					<!-- Заголовок страницы -->
					<div class="title">
						<h1>Список доступных дисциплин</h1>
					</div>
					<div th:replace="~{fragments/general :: profile}"></div>
				</div>
				<main>
					<div class="main-content">
						<!-- Скрипт изменения кнопок-фильтров -->
						<script type="text/javascript">
							function activeButton(evt) {
							    var currentButton = document.getElementById(evt.currentTarget.id);
							    if (currentButton.classList.contains("active")) currentButton.classList.remove("active");
							    else evt.currentTarget.className += "active";
							}
						</script>
						<!-- Кнопки-фильтры для показа дисциплин -->
						<div class="filter-container">
							<button class="active" id="current-subjects" onclick="activeButton(event)">Текущие</button>
							<button id="passed-subjects" onclick="activeButton(event)">Пройденные</button>
						</div>
						<!-- Вывод списка доступных дисциплин -->
						<div class="subject-container">
							<div class="subject-item" th:each="link : ${links}">
								<h2 th:text="${link.getSubject().getName()}"></h2>
								<div class="subject-info">
									<img th:src="@{'/logo/' + ${link.getSubject().getId()} + '/' + ${link.getSubject().getLogoFileName()}}">
									<p th:text="${link.getSubject().getDescription()}"></p>
								</div>
								<div class="subject-learn">
									<div class="subject-course">
										<p th:text="${link.getSubject().getCourse()} + ' курс'"></p>
										<p th:text="${link.getSubject().getSemester()} + ' семестр'"></p>
									</div>
									<div class="subject-teacher">
										<p th:each="teacherLink : ${link.getSubject().getTeacherLinks()}" th:text="${teacherLink.getUser().getFullName()}"></p>
									</div>
									<a th:href="@{'/subjects/' + ${link.getSubject().getId()}}" class="subject-button">Перейти к изучению</a>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>