<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>LightLMS - Генерация изображений</title>
		<!-- Основные стили -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<!-- Стили для страницы генерации изображений -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/openai.css}">
		<!-- Иконки FontAwesome -->
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/solid.css}">
		<!-- JQuery -->
		<script type="text/javascript" th:src="@{/libs/jquery-3.6.4.min.js}"></script>
		<!-- TippyJS для реализации всплывающих tooltip элементов -->
		<script src="https://unpkg.com/@popperjs/core@2"></script>
		<script src="https://unpkg.com/tippy.js@6"></script>
	</head>
	<body>
		<div class="main-container">
			<aside>
				<!-- Логотип -->
				<div class="top">
					<div class="logo">
						<img src="/images/logo.png">
						<h2>Lightweight<span class="logo-color">LMS</span></h2>
					</div>
				</div>
				<!-- Боковое меню -->
				<div class="sidebar">
					<a href="/" class="active arrow">
						<i class="fa-solid fa-house"></i>
						<h3>Дисциплины</h3>
					</a>
					<a href="/performance" sec:authorize="hasRole('Студент')">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Успеваемость</h3>
					</a>
					<a href="/chat">
						<i class="fa-solid fa-comments"></i>
						<h3>Чат</h3>
					</a>
					<a href="/admin" sec:authorize="hasRole('Администратор')">
						<i class="fa-solid fa-toolbox"></i>
						<h3>Админ-панель</h3>
					</a>
				</div>
			</aside>
			<div class="content-container">
				<div class="title-profile-container">
					<!-- Заголовок страницы -->
					<div class="title">
						<h1>Генерация изображений</h1>
					</div>
					<div class="right">
						<div class="top">
							<div class="profile">
								<!-- ФИО и роль пользователя -->
								<div class="info">
									<p><b th:text="${authorizedUser.getFullName()}"></b></p>
									<small class="text-muted" th:text="${authorizedUser.getRole().getName()}"></small>
								</div>
								<!-- Фотография пользователя на основе роли -->
								<div class="profile-photo">
									<img th:src="@{'/images/' + ${authorizedUser.getRole().getName()} + '.png'}">
								</div>
								<!-- Кнопка выхода из аккаунта -->
								<form th:action="@{/logout}" class="profile-logout" method="post">
									<i class="fa-solid fa-right-from-bracket"></i>
									<input type="submit" value="Выйти из аккаунта"/>
								</form>
							</div>
						</div>
					</div>
				</div>
				<main>
					<div class="main-content">
						<div class="subject-path">
							<ol class="path-container">
								<li class="path-button">
									<a th:href="@{/subjects/1}">Мультимедиа Технологии</a>
								</li>
								<li class="path-button">
									<a th:href="@{/subjects/1#theme1}">Применение нейронных сетей в сфере мультимедиа</a>
								</li>
								<li class="path-button">
									<a th:href="@{/openai/img-bot}">Генерация изображений средствами DALL-E</a>
								</li>
							</ol>
						</div>
						<div class="img-bot">
							<div class="img-display">
								<img id="generated-img" src="" alt="Введите запрос для изображения...">
							</div>
							<input type="text" id="input-img-message" placeholder="Введите запрос для изображения..." />
							<script type="text/javascript">
								document.querySelector("#input-img-message").addEventListener("keyup", event => {
								    if(event.key !== "Enter") return;
								    var request = $("#input-img-message").val();
								    $('#input-img-message').val("");
								    $("info-img").innerText = "";
								    $.ajax({
								        type: "GET",
								        url: "/api/openai/img?request=" + request,
								        success: function(data) {
								            $("#generated-img").attr("src", data);
								        },
								        error: function() {
								        	$("#generated-img").attr("src", "");
								            $("#generated-img").attr("alt", "К сожалению, время ожидания было превышено, попробуйте еще раз");
								        },
								        timeout: 60000
								    });
								});
							</script>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>