<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>LightLMS - Авторизация</title>
		<!-- Стили страницы входа -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
	</head>
	<body>
		<div class="login-container">
			<div class="logo">
				<img th:src="@{/images/logo.png}">
			</div>
			<div class="title">Lightweight<span>LMS</span></div>
			<form th:action="@{/login}" method="post">
				<div class="username-field">
					<input type="text" name="username" placeholder="Логин" />
				</div>
        		<div class="password-field">
          			<input type="password" name="password" placeholder="Пароль" />
        		</div>
        		<div class="login-button">
          			<input type="submit" value="Войти"/>
				</div>
      		</form>
		</div>
	</body>
</html>