<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title th:text="'LightLMS - ' + ${subject.getName()}"></title>
		<!-- Основные стили -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<!-- Стили страницы конкретной дисциплины -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/subject.css}">
		<!-- Иконки FontAwesome -->
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/solid.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/brands.css}">
		<!-- JQuery -->
		<script type="text/javascript" th:src="@{/libs/jquery-3.6.4.min.js}"></script>
		<!-- JQuery UI -->
		<link rel="stylesheet" type="text/css" th:href="@{/libs/jquery-ui-1.13.2.custom/jquery-ui.css}">
		<!-- JQuery UI -->
		<script type="text/javascript" th:src="@{/libs/jquery-ui-1.13.2.custom/jquery-ui.js}"></script>
		<!-- Скрипты для страниц дисциплин -->
		<script type="text/javascript" th:src="@{/scripts/Subject.js}"></script>
	</head>
	<body>
		<div class="main-container">
			<aside>
				<div th:replace="~{fragments/general :: logo}"></div>
				<!-- Боковое меню -->
				<div class="sidebar">
					<a href="/" class="active arrow">
						<i class="fa-solid fa-house"></i>
						<h3>Дисциплины</h3>
					</a>
					<a href="/performance">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Успеваемость по предмету</h3>
					</a>
					<hr>
					<div id="themes-container">
						<a th:each="theme : ${themes}" th:href="'#theme-' + ${theme.getId()}">
							<i class="fa-solid fa-book-open"></i>
							<h3 th:text="${theme.getName()}"></h3>
						</a>
						<a href="#exam">
							<i class="fa-solid fa-graduation-cap"></i>
							<h3>Экзамен</h3>
						</a>
					</div>
					<a class="down" th:href="'/subjects/' + ${subject.getId()} + '/editor'" sec:authorize="hasRole('Преподаватель')">
						<i class="fa-solid fa-pen-to-square"></i>
						<h3>Редактор</h3>
					</a>
					<a class="down" href="/admin" sec:authorize="hasRole('Администратор')">
						<i class="fa-solid fa-toolbox"></i>
						<h3>Админ-панель</h3>
					</a>
				</div>
			</aside>
			<div class="content-container">
				<div class="title-profile-container">
					<!-- Заголовок страницы -->
					<div class="title">
						<h1 th:text="@{${subject.getName()}}"></h1>
					</div>
					<div th:replace="~{fragments/general :: profile}"></div>
				</div>
				<main>
					<div class="main-content">
						<div class="subject-path">
							<ol class="path-container">
								<li class="path-button">
									<a th:href="@{'/subjects/' + ${subject.getId()}}" th:text="@{${subject.getName()}}"></a>
								</li>
							</ol>
						</div>
						<div th:each="theme : ${themes}" class="subject-chapter" th:id="'theme' + ${theme.getId()}">
							<div class="chapter-title">
								<h2 th:text="${theme.getName()}"></h2>
							</div>
							<div class="chapter-content">
								<div th:if="${theme.isDescriptionExist()}" class="resource-type">
									<div th:utext="${theme.getDescription()}" class="chapter-description"></div>
								</div>
								<div th:replace="~{fragments/manual-blocks :: theme}"></div>
								<div th:replace="~{fragments/external-blocks :: theme}"></div>
								<div th:replace="~{fragments/practice-blocks :: theme}"></div>
							</div>
						</div>
						<div class="subject-chapter" id="exam">
							<div class="chapter-title">
								<h2 th:text="${exam.getName()}"></h2>
							</div>
							<div class="chapter-content">
								<div th:if="${exam.isDescriptionExist()}" class="resource-type">
									<div th:utext="${exam.getDescription()}" class="chapter-description"></div>
								</div>
								<div th:replace="~{fragments/manual-blocks :: exam}"></div>
								<div th:replace="~{fragments/external-blocks :: exam}"></div>
								<div th:replace="~{fragments/practice-blocks :: exam}"></div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>