<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title th:text="'LightLMS - ' + ${subject.getName()} + ' [Редактор]'"></title>
		<!-- Основные стили -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<!-- Стили страницы конкретной дисциплины -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/subject.css}">
		<!-- Иконки FontAwesome -->
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/solid.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/brands.css}">
		<!-- JQuery -->
		<script type="text/javascript" th:src="@{/libs/jquery-3.6.4.min.js}"></script>
		<!-- JQuery UI -->
		<link rel="stylesheet" type="text/css" th:href="@{/libs/jquery-ui-1.13.2.custom/jquery-ui.css}">
		<script type="text/javascript" th:src="@{/libs/jquery-ui-1.13.2.custom/jquery-ui.js}"></script>
		<!-- JQuery UI Timepicker Addon -->
		<link rel="stylesheet" type="text/css" th:href="@{/libs/timepicker-addon/jquery-ui-timepicker-addon.css}">
		<script type="text/javascript" th:src="@{/libs/timepicker-addon/jquery-ui-timepicker-addon.js}"></script>
		<!-- Скрипты для страниц дисциплин -->
		<script type="text/javascript" th:src="@{/scripts/SubjectEditor.js}"></script>
		<!-- Текстовый редактор -->
		<script th:src="'https://cdn.tiny.cloud/1/' + ${tinymceKey} + '/tinymce/6/tinymce.min.js'" referrerpolicy="origin"></script>
	</head>
	<body>
		<div class="main-container">
			<aside>
				<div th:replace="~{fragments/general :: logo}"></div>
				<!-- Боковое меню -->
				<div class="sidebar">
					<a href="/" class="active arrow">
						<i class="fa-solid fa-house"></i>
						<h3>Дисциплины</h3>
					</a>
					<a href="/performance">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Успеваемость по предмету</h3>
					</a>
					<hr>
					<div id="themes-container">
						<a th:each="theme : ${themes}" th:href="'#theme-' + ${theme.getId()}">
							<i class="fa-solid fa-book-open"></i>
							<h3 th:text="${theme.getName()}"></h3>
						</a>
						<a href="#exam">
							<i class="fa-solid fa-graduation-cap"></i>
							<h3>Экзамен</h3>
						</a>
					</div>
					<a class="down" th:href="'/subjects/' + ${subject.getId()}" sec:authorize="hasRole('Преподаватель')">
						<i class="fa-solid fa-circle-left"></i>
						<h3>Вернуться назад</h3>
					</a>
					<a class="down" href="/admin" sec:authorize="hasRole('Администратор')">
						<i class="fa-solid fa-toolbox"></i>
						<h3>Админ-панель</h3>
					</a>
				</div>
			</aside>
			<div class="content-container">
				<div class="title-profile-container">
					<!-- Заголовок страницы -->
					<div class="title">
						<h1 th:text="${subject.getName()} + ' [Редактор]'"></h1>
					</div>
					<div th:replace="~{fragments/general :: profile}"></div>
				</div>
				<main>
					<div id="main-content" class="main-content">
						<div class="subject-path">
							<!-- Фильтры для показа дисциплин -->
							<ol class="path-container">
								<li class="path-button">
									<a th:href="@{'/subjects/' + ${subject.getId()}}" th:text="@{${subject.getName()}}"></a>
								</li>
							</ol>
							<button th:onclick="'openThemeCreateDialog(' + ${subject.getId()} + ')'" type="button">Добавить тему</button>
							<div id="theme-create-dialog" class="popup-dialog">
								<div class="dialog-item">
									<p>Отображаемое название</p>
									<input id="theme-create-name" type="text">
								</div>
							</div>
						</div>
						<div class="subject-chapters">
							<div th:each="theme : ${themes}" th:id="'theme-' + ${theme.getId()}" class="subject-chapter">
								<div class="chapter-title-editor">
									<div class="movable-chapter">
										<i class="fa-solid fa-up-down-left-right"></i>
									</div>
									<input th:value="${theme.getName()}" th:id="'themeInput' + ${theme.getId()}" type="text">
									<div class="resource-interactions">
										<button th:onclick="'updateTheme(' + ${theme.getId()} + ')'" type="button">
											<i class="fa-solid fa-floppy-disk"></i>
										</button>
										<button th:onclick="'deleteElement(' + ${theme.getId()} + ', \'theme\')'" type="button">
											<i class="fa-solid fa-trash"></i>
										</button>
									</div>
								</div>
								<div class="chapter-content">
									<div class="resource-type">
										<textarea th:id="'description-theme-' + ${theme.getId()}" th:text="${theme.getDescription()}"></textarea>
									</div>
									<div th:replace="~{fragments/manual-blocks :: theme-editor}"></div>
									<div th:replace="~{fragments/external-blocks :: theme-editor}"></div>
									<div th:replace="~{fragments/practice-blocks :: theme-editor}"></div>
								</div>
							</div>
						</div>
						<div id="exam" class="subject-chapter">
							<div class="chapter-title-editor">
								<div class="movable-chapter disabled">
									<i class="fa-solid fa-up-down-left-right"></i>
								</div>
								<input th:value="${exam.getName()}" id="examInput" type="text">
								<div class="resource-interactions">
									<button th:onclick="'updateExam(' + ${exam.getId()} + ')'" type="button">
										<i class="fa-solid fa-floppy-disk"></i>
									</button>
									<button class="disabled" type="button">
										<i class="fa-solid fa-trash"></i>
									</button>
								</div>
							</div>
							<div class="chapter-content">
								<div class="resource-type">
									<textarea th:id="'description-exam-' + ${exam.getId()}" th:text="${exam.getDescription()}"></textarea>
								</div>
								<div th:replace="~{fragments/manual-blocks :: exam-editor}"></div>
								<div th:replace="~{fragments/external-blocks :: exam-editor}"></div>
								<div th:replace="~{fragments/practice-blocks :: exam-editor}"></div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>