<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title th:text="'LightLMS - ' + ${subject.getName()} + ' [Редактор]'"></title>
		<!-- Основные стили -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<!-- Стили страницы конкретной дисциплины -->
		<link rel="stylesheet" type="text/css" th:href="@{/styles/subject.css}">
		<!-- Иконки FontAwesome -->
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/solid.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/brands.css}">
		<!-- JQuery -->
		<script type="text/javascript" th:src="@{/libs/jquery-3.6.4.min.js}"></script>
		<!-- JQuery UI -->
		<link rel="stylesheet" type="text/css" th:href="@{/libs/jquery-ui-1.13.2.custom/jquery-ui.css}">
		<script type="text/javascript" th:src="@{/libs/jquery-ui-1.13.2.custom/jquery-ui.js}"></script>
		<!-- JQuery UI Timepicker Addon -->
		<link rel="stylesheet" type="text/css" th:href="@{/libs/timepicker-addon/jquery-ui-timepicker-addon.css}">
		<script type="text/javascript" th:src="@{/libs/timepicker-addon/jquery-ui-timepicker-addon.js}"></script>
		<!-- Скрипты для страниц дисциплин -->
		<script type="text/javascript" th:src="@{/scripts/SubjectEditor.js}"></script>
		<!-- Текстовый редактор -->
		<script th:src="'https://cdn.tiny.cloud/1/' + ${tinymceKey} + '/tinymce/6/tinymce.min.js'" referrerpolicy="origin"></script>
	</head>
	<body>
		<div class="main-container">
			<aside>
				<div th:replace="~{fragments/general :: logo}"></div>
				<!-- Боковое меню -->
				<div class="sidebar">
					<a href="/" class="active arrow">
						<i class="fa-solid fa-house"></i>
						<h3>Дисциплины</h3>
					</a>
					<a href="/performance">
						<i class="fa-solid fa-newspaper"></i>
						<h3>Успеваемость по предмету</h3>
					</a>
					<hr>
					<div id="themes-container">
						<a th:each="theme : ${themes}" th:href="'#theme-' + ${theme.getId()}">
							<i class="fa-solid fa-book-open"></i>
							<h3 th:text="${theme.getName()}"></h3>
						</a>
						<a href="#exam">
							<i class="fa-solid fa-graduation-cap"></i>
							<h3>Экзамен</h3>
						</a>
					</div>
					<a class="down" th:href="'/subjects/' + ${subject.getId()}" sec:authorize="hasRole('Преподаватель')">
						<i class="fa-solid fa-circle-left"></i>
						<h3>Вернуться назад</h3>
					</a>
					<a class="down" href="/admin" sec:authorize="hasRole('Администратор')">
						<i class="fa-solid fa-toolbox"></i>
						<h3>Админ-панель</h3>
					</a>
				</div>
			</aside>
			<div class="content-container">
				<div class="title-profile-container">
					<!-- Заголовок страницы -->
					<div class="title">
						<h1 th:text="${subject.getName()} + ' [Редактор]'"></h1>
					</div>
					<div th:replace="~{fragments/general :: profile}"></div>
				</div>
				<main>
					<div id="main-content" class="main-content">
						<div class="subject-path">
							<!-- Фильтры для показа дисциплин -->
							<ol class="path-container">
								<li class="path-button">
									<a th:href="@{'/subjects/' + ${subject.getId()}}" th:text="@{${subject.getName()}}"></a>
								</li>
							</ol>
							<button th:onclick="'openThemeCreateDialog(' + ${subject.getId()} + ')'" type="button">Добавить тему</button>
							<div id="theme-create-dialog" class="popup-dialog">
								<div class="dialog-item">
									<p>Отображаемое название</p>
									<input id="theme-create-name" type="text">
								</div>
							</div>
						</div>
						<div class="subject-chapters">
							<div th:each="theme : ${themes}" th:id="'theme-' + ${theme.getId()}" class="subject-chapter">
								<div class="chapter-title-editor">
									<div class="movable-chapter">
										<i class="fa-solid fa-up-down-left-right"></i>
									</div>
									<input th:value="${theme.getName()}" th:id="'themeInput' + ${theme.getId()}" type="text">
									<div class="resource-interactions">
										<button th:onclick="'updateTheme(' + ${theme.getId()} + ')'" type="button">
											<i class="fa-solid fa-floppy-disk"></i>
										</button>
										<button th:onclick="'deleteElement(' + ${theme.getId()} + ', \'theme\')'" type="button">
											<i class="fa-solid fa-trash"></i>
										</button>
									</div>
								</div>
								<div class="chapter-content">
									<div class="resource-type">
										<textarea th:id="'description-theme-' + ${theme.getId()}" th:text="${theme.getDescription()}"></textarea>
									</div>
									<div th:id="'manuals-' + ${theme.getId()}" class="resource-type">
										<div class="resource-type-title">
											<h3>Методические указания</h3>
											<button th:onclick="'openManualCreateDialog(' + ${subject.getId()} + ', ' + ${theme.getId()} + ')'" type="button">Добавить файл</button>
											<div th:replace="~{fragments/manual-dialogs :: create-common}"></div>
										</div>
										<div class="resource-items">
											<div th:each="manual : ${theme.getManualResources()}" class="resource-item editor" th:id="'manual-' + ${manual.getId()}">
												<div class="resource-info">
													<div class="movable-item">
														<i class="fa-solid fa-up-down-left-right"></i>
													</div>
													<button th:if="${manual.isDoc()}" type="button">
														<i class="fa-solid fa-file-pdf"></i>
														<h4 th:text="${manual.getDisplayName()}"></h4>
													</button>
													<button th:if="${manual.isOther()}" type="button">
														<i class="fa-solid fa-download"></i>
														<h4 th:text="${manual.getDisplayName()}"></h4>
														<div class="file-extension">
															<i class="fa-solid fa-file"></i>
															<h5 th:text="${manual.getFileExtension()}"></h5>
														</div>
													</button>
												</div>
												<div class="resource-interactions">
													<button th:onclick="'openManualUpdateDialog(' + ${manual.getId()} + ', ' + ${subject.getId()} + ')'" type="button">
														<i class="fa-solid fa-pen"></i>
														<div th:replace="~{fragments/manual-dialogs :: update}"></div>
													</button>
													<button th:onclick="'deleteElement(' + ${manual.getId()} + ', \'manual\')'" type="button">
														<i class="fa-solid fa-trash"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
									<div th:id="'externals-' + ${theme.getId()}" class="resource-type">
										<div class="resource-type-title">
											<h3>Сторонние ресурсы</h3>
											<button th:onclick="'openExternalCreateDialog(' + ${theme.getId()} + ')'" type="button">Добавить ссылку</button>
											<div th:replace="~{fragments/external-dialogs :: create-common}"></div>
										</div>
										<div class="resource-items">
											<div th:each="external : ${theme.getExternalResources()}" class="resource-item editor" th:id="'external-' + ${external.getId()}">
												<div class="resource-info">
													<div class="movable-item">
														<i class="fa-solid fa-up-down-left-right"></i>
													</div>
													<button th:if="${external.isYoutube()}" type="button">
														<i class="fa-brands fa-youtube"></i>
														<h4 th:text="${external.getDisplayName()}"></h4>
													</button>
													<button th:if="${external.isLink()}" type="button">
														<i class="fa-solid fa-arrow-up-right-from-square"></i>
														<h4 th:text="${external.getDisplayName()}"></h4>
													</button>
												</div>
												<div class="resource-interactions">
													<button th:onclick="'openExternalUpdateDialog(' + ${external.getId()} + ')'" type="button">
														<i class="fa-solid fa-pen"></i>
														<div th:replace="~{fragments/external-dialogs :: update}"></div>
													</button>
													<button th:onclick="'deleteElement(' + ${external.getId()} + ', \'external\')'" type="button">
														<i class="fa-solid fa-trash"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="resource-type">
										<div class="resource-type-title">
											<h3>Практические работы</h3>
											<button th:onclick="'openPracticeCreateDialog(' + ${theme.getId()} + ')'" type="button">Добавить работу</button>
											<div th:replace="~{fragments/practice-dialogs :: create-common}"></div>
										</div>
										<div class="resource-items">
											<div th:if="${not theme.getPractices().isEmpty()}" th:each="practice : ${theme.getPractices()}" class="resource-item editor" th:id="'practice-' + ${practice.getId()}">
												<div class="resource-info">
													<div class="movable-item">
														<i class="fa-solid fa-up-down-left-right"></i>
													</div>
													<button type="button">
														<i class="fa-solid fa-file-export"></i>
														<h4 th:text="${practice.getDisplayName()}"></h4>
													</button>
												</div>
												<div class="resource-interactions">
													<button th:onclick="'openPracticeUpdateDialog(' + ${practice.getId()} + ')'" type="button">
														<i class="fa-solid fa-pen"></i>
														<div th:replace="~{fragments/practice-dialogs :: update}"></div>
													</button>
													<button th:onclick="'deleteElement(' + ${practice.getId()} + ', \'practice\')'" type="button">
														<i class="fa-solid fa-trash"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="exam" class="subject-chapter">
							<div class="chapter-title-editor">
								<div class="movable-chapter disabled">
									<i class="fa-solid fa-up-down-left-right"></i>
								</div>
								<input th:value="${exam.getName()}" id="examInput" type="text">
								<div class="resource-interactions">
									<button th:onclick="'updateExam(' + ${exam.getId()} + ')'" type="button">
										<i class="fa-solid fa-floppy-disk"></i>
									</button>
									<button class="disabled" type="button">
										<i class="fa-solid fa-trash"></i>
									</button>
								</div>
							</div>
							<div class="chapter-content">
								<div class="resource-type">
									<textarea th:id="'description-exam-' + ${exam.getId()}" th:text="${exam.getDescription()}"></textarea>
								</div>
								<div id="exam-manuals" class="resource-type">
									<div class="resource-type-title">
										<h3>Методические указания</h3>
										<button th:onclick="'openExamManualCreateDialog(' + ${subject.getId()} + ', ' + ${exam.getId()} + ')'" type="button">Добавить файл</button>
										<div th:replace="~{fragments/manual-dialogs :: create-exam}"></div>
									</div>
									<div class="resource-items">
										<div th:each="manual : ${exam.getManualResources()}" class="resource-item editor" th:id="'manual-' + ${manual.getId()}">
											<div class="resource-info">
												<div class="movable-item">
													<i class="fa-solid fa-up-down-left-right"></i>
												</div>
												<button th:if="${manual.isDoc()}" type="button">
													<i class="fa-solid fa-file-pdf"></i>
													<h4 th:text="${manual.getDisplayName()}"></h4>
												</button>
												<button th:if="${manual.isOther()}" type="button">
													<i class="fa-solid fa-download"></i>
													<h4 th:text="${manual.getDisplayName()}"></h4>
													<div class="file-extension">
														<i class="fa-solid fa-file"></i>
														<h5 th:text="${manual.getFileExtension()}"></h5>
													</div>
												</button>
											</div>
											<div class="resource-interactions">
												<button th:onclick="'openManualUpdateDialog(' + ${manual.getId()} + ', ' + ${subject.getId()} + ')'" type="button">
													<i class="fa-solid fa-pen"></i>
													<div th:replace="~{fragments/manual-dialogs :: update}"></div>
												</button>
												<button th:onclick="'deleteElement(' + ${manual.getId()} + ', \'manual\')'" type="button">
													<i class="fa-solid fa-trash"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div id="exam-externals" class="resource-type">
									<div class="resource-type-title">
										<h3>Сторонние ресурсы</h3>
										<button th:onclick="'openExamExternalCreateDialog(' + ${exam.getId()} + ')'" type="button">Добавить ссылку</button>
										<div th:replace="~{fragments/external-dialogs :: create-exam}"></div>
									</div>
									<div class="resource-items">
										<div th:each="external : ${exam.getExternalResources()}" class="resource-item editor" th:id="'external-' + ${external.getId()}">
											<div class="resource-info">
												<div class="movable-item">
													<i class="fa-solid fa-up-down-left-right"></i>
												</div>
												<button th:if="${external.isYoutube()}" type="button">
													<i class="fa-brands fa-youtube"></i>
													<h4 th:text="${external.getDisplayName()}"></h4>
												</button>
												<button th:if="${external.isLink()}" type="button">
													<i class="fa-solid fa-arrow-up-right-from-square"></i>
													<h4 th:text="${external.getDisplayName()}"></h4>
												</button>
											</div>
											<div class="resource-interactions">
												<button th:onclick="'openExternalUpdateDialog(' + ${external.getId()} + ')'" type="button">
													<i class="fa-solid fa-pen"></i>
													<div th:replace="~{fragments/external-dialogs :: update}"></div>
												</button>
												<button th:onclick="'deleteElement(' + ${external.getId()} + ', \'external\')'" type="button">
													<i class="fa-solid fa-trash"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="resource-type">
									<div class="resource-type-title">
										<h3>Практические работы</h3>
										<button th:onclick="'openExamPracticeCreateDialog(' + ${exam.getId()} + ')'" type="button">Добавить работу</button>
										<div th:replace="~{fragments/practice-dialogs :: create-exam}"></div>
									</div>
									<div class="resource-items">
										<div th:if="${not exam.getPractices().isEmpty()}" th:each="practice : ${exam.getPractices()}" class="resource-item editor" th:id="'practice-' + ${practice.getId()}">
											<div class="resource-info">
												<div class="movable-item">
													<i class="fa-solid fa-up-down-left-right"></i>
												</div>
												<button type="button">
													<i class="fa-solid fa-file-export"></i>
													<h4 th:text="${practice.getDisplayName()}"></h4>
												</button>
											</div>
											<div class="resource-interactions">
												<button th:onclick="'openPracticeUpdateDialog(' + ${practice.getId()} + ')'" type="button">
													<i class="fa-solid fa-pen"></i>
													<div th:replace="~{fragments/practice-dialogs :: update}"></div>
												</button>
												<button th:onclick="'deleteElement(' + ${practice.getId()} + ', \'practice\')'" type="button">
													<i class="fa-solid fa-trash"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>