
/* Фильтры дисциплин */

.filter-container {
    padding: 0 0 1rem 0;
    margin: 0 0 2rem 0;
    border-bottom: 1px solid var(--color-light);
}

.filter-container button {
    height: 30px;
    border-radius: 1rem;
    background: var(--color-tab);
    padding: 7px 1rem;
    margin-right: 1rem;
    border: 1px solid var(--color-light);
    cursor: pointer;
    transition: 300ms;
}

.filter-container button:hover {
    color: var(--color-primary);
    background-color: var(--color-light);
    border: 1px solid var(--color-dark-variant);
    transition: 300ms;
}

.filter-container button.active {
    background-color: var(--color-light);
    color: var(--color-primary);
    border: 1px solid var(--color-dark-variant)
}

.filter-container button.active:hover {
    color: var(--color-dark);
    background: var(--color-tab);
    border: 1px solid var(--color-light);
    transition: 300ms;
}


/* Отображение дисциплин - Контейнер */

.subject-container {
	display: grid;
	column-gap: 4%;
	row-gap: 3rem;
	grid-template-columns: 48% 48%;
}


/* Отображение дисциплин - Дисциплина */

.subject-item {
    background: var(--color-white);
    border-radius: 2rem;
    height: 270px;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: auto auto;
    padding: 1rem;
}

.subject-item h2 {
    border-bottom: 1px solid var(--color-light);
    padding-bottom: 5px;
}

.subject-item div {
    display: grid;
    column-gap: 2%;
    grid-template-columns: 30% 68%;
    align-items: center;
    justify-items: center;
}

.subject-item img {
    min-height: 150px;
    max-height: 250px;
}

.subject-item p {
    max-height: 165px;
}