
/* Фильтры дисциплин */

.filter-container {
    padding: 0 0 1rem 0;
    margin: 0 0 1.5rem 0;
    border-bottom: 1px solid var(--color-light);
    height: 3.7rem;
    display: flex;
    align-items: center;
}

.filter-container button {
    border-radius: 1rem;
    background: var(--color-tab);
    padding: 7px 1rem;
    margin-right: 1rem;
    border: 1px solid var(--color-light);
    cursor: pointer;
    transition: 300ms;
}

.filter-container button:hover {
    color: var(--color-primary);
    background-color: var(--color-light);
    border: 1px solid var(--color-dark-variant);
    transition: 300ms;
}

.filter-container button.active {
    background-color: var(--color-light);
    color: var(--color-primary);
    border: 1px solid var(--color-dark-variant)
}

.filter-container button.active:hover {
    color: var(--color-dark);
    background: var(--color-tab);
    border: 1px solid var(--color-light);
    transition: 300ms;
}


/* Отображение дисциплин - Контейнер */

.subject-container {
	display: grid;
	column-gap: 4%;
	row-gap: 3rem;
	grid-template-columns: 48% 48%;
}


/* Отображение дисциплин - Дисциплина */

.subject-item {
    background: var(--color-white);
    border-radius: 0.5rem;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: auto auto;
    padding: 1rem;
    border: 1px solid var(--color-light);
    min-height: 300px;
}

.subject-item h2 {
    border-bottom: 1px solid var(--color-light);
    padding-bottom: 5px;
}

.subject-item img {
    height: 170px;
    width: 200px;
}

.subject-item p {
    margin: 0;
}

.subject-info {
    display: inline-flex;
    column-gap: 2%;
    border-bottom: 1px solid var(--color-light);
}

.subject-learn {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.subject-course {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-button {
    border-radius: 1rem;
    background: var(--color-tab);
    padding: 10px 1rem;
    margin-right: 1rem;
    border: 1px solid var(--color-light);
    cursor: pointer;
    transition: 300ms;
}

.subject-button:hover {
    color: var(--color-primary);
    background-color: var(--color-light);
    border: 1px solid var(--color-dark-variant);
    transition: 300ms;
}